[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "==2.0.1"
flask-smorest = "==0.31.2"
gunicorn = "==20.1.0"
marshmallow = "==3.12.1"
pendulum = "==2.1.2"
requests = "==2.26.0"
Werkzeug = "==2.0.1"
webargs = "==8.0.0"

[dev-packages]
pre-commit = "==2.13.0"
